{% load staticfiles %}{% load toga %}<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{ window.title }}</title>

        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.min.css' %}">
        <style>
            body {
                padding-top: 5rem;
            }
        </style>

        {% toga_head_js %}
    </head>
    {{ app|html }}
        {{ window|html }}

        <hr>
        <pre id="stdout"></pre>

        <script src="{% static 'jquery/dist/jquery.js' %}"></script>
        {% toga_body_js %}
    </body>
</head>
